body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", Sans-serif;
}

h1 {
  margin: 0;
}

.font-primary {
  color: #000000;
  font-size: 72px;
}

.font-secundary {
  color: #000000;
  font-size: 60px;
  margin: 20px 0px;
  text-align: center;
}

.font-tertiary {
  color: #000000;
  font-size: 40px;
  margin: 20px 0px;
}

.button-primary p {
  border: 2px solid white;
  padding: 10px;
  font-weight: bold;
}

.button-primary p:hover,
.button-primary.active p {
  color: black;
  background-color: #faff8a;
  border-color: #faff8a;
}

.link {
  color: #ffc107;
  text-decoration: none;
}

@media (max-width: 746px) {
  .font-secundary {
    font-size: 27px;
    margin: 20px 30px;
    text-decoration: underline;
    text-decoration-color: #faff8a;
  }

  .font-primary {
    font-size: 30px;
    margin: 20px 30px;
    text-decoration: underline;
    text-decoration-color: #faff8a;
    border-bottom-width: 5px;
  }

  .font-tertiary {
    font-size: 20px;
    margin: 10px 30px;
    text-decoration: underline;
    text-decoration-color: #faff8a;
    border-bottom-width: 5px;
  }
}
